[submodule "skin.frontseat"]
	path = skin.frontseat
	url = git://github.com/HooliganHarls/skin.frontseat.git
[submodule "skin.mediastream_redux.plexbmc"]
	path = skin.mediastream_redux.plexbmc
	url = git://github.com/hippojay/skin.mediastream_redux.plexbmc.git
[submodule "skin.confluence.plexbmc"]
	path = skin.confluence.plexbmc
	url = git://github.com/hippojay/skin.confluence.plexbmc.git
